html, body {
	padding: 0;
	margin: 0;
	font-family: 'Arial', sans-serif;
}

.app {
	position: absolute;
	height: 100%; width: 100%;
	display: flex;
	flex-direction: column;

	// BEM modified, _modifier_modifier-value -> --modifier_modifier-value
	// &--active_ {
	// 	&yes { color: green; }
	// 	&no { color: red; }
	// }
}

.fullAnimationContainer {
	position: relative;
	padding: inherit;

	& > * {
		position: absolute;
		top: 0; left: 0;
	}
}

@import 'header';
@import 'body';
